:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffacb9;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  display: flex; /* Use flexbox to align items horizontally */
  flex-direction: row; /* Ensure it's a horizontal row */
  justify-content: space-between; /* Create space between the form and table */
  align-items: flex-start; /* Align items at the top */
  gap: 20px; /* Add space between form and table */
  padding: 20px;
  width: 100%; /* Full width */
  max-width: 1200px; /* Max width for the container */
  margin: 20px auto; /* Center container horizontally with 20px margin */
}

.task-table {
  width: 60%; /* Set the width of the table container */
}

form {
  width: 35%; /* Set the width of the form container */
  display: flex;
  flex-direction: column; /* Stack form elements vertically */
}

table {
  width: 100%; /* Ensure the table takes full width inside its container */
  margin-right: 20px; /* Add space between table and form */
}

input, textarea, select, button {
  margin-bottom: 15px; /* Add space between form elements */
}

h1 {
  font-size: 10em;
  line-height: 1.1;
  color: #ffacb9;
}

.action-buttons {
  display: flex; /* Align buttons in a row */
  gap: 10px; /* Add space between the buttons */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: background-color var(--transition-speed),
    box-shadow var(--transition-speed), transform var(--transition-speed);
}

button.delete-btn {
  background-color: var(--danger-color);
  transition: background-color var(--transition-speed), transform var(--transition-speed);
}

button.delete-btn:hover {
  background-color: var(--danger-hover);
}

button:hover {
  background-color: var(--secondary-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack table and form on top of each other for small screens */
  }

  .task-table,
  form {
    width: 100%; /* Full width on small screens */
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
